<section class="blog-content">
   	<div class="container">
   		<div class="row">
   			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
   				<div class="content-area">
   					<div class="row">
   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post1.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">Why explaining the truth about Santa</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Lifestyle</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
									</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
		   					</article><!--/ 1st article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post2.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">To avoid holiday delays, airlines add flights</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Lifestyle</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
									</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea. Duis aute irure dolor in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>

		   					</article><!--/ 2nd article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post3.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">Wearable tech made strides in 2015</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Lifestyle</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
									</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>

		   					</article><!--/ 3rd article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post4.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">Holiday Travel Was Just As Miserable As Today</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Travel</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
		   						</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
				   				
		   					</article><!--/ 4th article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post5.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">Working Hours Around The World Does</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Travel</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
		   						</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
				   				
		   					</article><!--/ 5th article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post6.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">How The North Pole Became Part Of Santa</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Travel</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
		   						</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
				   				
		   					</article><!--/ 6th article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post7.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">These women are calling on Ireland's</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Lifestyle</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
		   						</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
				   				
		   					</article><!--/ 7th article end -->
   						</div><!-- Post grid col end -->

   						<div class="col-md-6">
   							<article class="post-item-grid">
		   						<div class="post-media post-image">
										<a href="#"><img src="images/post/post8.jpg" alt="img"></a>
									</div>

									<div class="post-inwrap">
		   							<div class="entry-header">
			   							<h2 class="entry-title">
								 				<a href="#">Glastonbury festival has announced space</a>
								 			</h2>
		   							</div>

		   							<div class="post-meta">
											<span class="post-cat">
												<i class="fa fa-folder"></i>
												<a href="#">Lifestyle</a>
											</span>
											<span class="post-date">
												<i class="fa fa-clock-o"></i>
			   								April 2, 2016
			                       	</span>
			                       	<span class="post-comment">
												<i class="fa fa-comments"></i>
		                              <a href="#" class="comments-link">
		                                  <span>03</span>
		                              </a>
		                       		</span>
										</div><!-- Post meta end -->
		   						</div><!-- post wrap end -->

		   						<div class="entry-content">
		   							<p>Ut enim ad minim veniam, quis nostrud exercitation ullam comnis iste natus error sit voluptatemtium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore ver laboris nisi ut aliquip ex ea commodo consequat. Duis aute irur in repreh.</p>
		   						</div>

			   					<div class="post-bottom clearfix">
			   						<a href="#" class="pull-left title-font more-link">Full Story</a>
			   						<div class="share-items pull-right">
											<ul class="social-icons unstyled">
												<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
												<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
												<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
												<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
											</ul>
										</div>
			   					</div>
				   				
		   					</article><!--/ 8th article end -->
   						</div><!-- Post grid col end -->

   					</div><!-- Content area row end -->

   					<div class="paging text-center title-font">
			            <ul class="pagination">
			              <li><a class="prev page-numbers" href="#"><i class="fa fa-caret-left"></i> Newer Posts</a></li>
			              <li class="active"><a href="#">1</a></li>
			              <li><a href="#">2</a></li>
			              <li><a href="#">3</a></li>
			              <li><a href="#">4</a></li>
			              <li><a href="#">5</a></li>
			              <li>
			              	<a class="next page-numbers" href="#">Older Posts <i class="fa fa-caret-right"></i></a>
			              </li>
			            </ul>
		          	</div>

   				</div><!--/ Content end -->
   			</div><!--/ Content col end -->

   			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
   				<div class="sidebar sidebar-right">

						<div class="widget widget-search">
							<form id="searchform" action="#">
								<div class="search">
									<input class="search-field form-control" placeholder="Search" type="search">
									<i class="fa fa-search"></i>
								</div>
							</form>
						</div><!-- Search end -->

						<div class="widget">
							<h3 class="widget-title">About Me</h3>
							<div class="about-me-widget text-center">
								<div class="about-img border-overlay">
									<img src="images/author-img.jpg" alt="" />
								</div>
								
								<h4>Andrew Corns</h4>
								<p class="about-desc">Lenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo cons equat. Duis aute irure dolor in reprehenderit in volu ptate velit esse cillum dolore</p>

								<div class="share-items">
									<ul class="social-icons unstyled">
										<li><a data-original-title="Facebook" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-facebook"></i></a></li>
										<li><a data-original-title="Twitter" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-twitter"></i></a></li>
										<li><a data-original-title="Instagram" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-instagram"></i></a></li>
										<li><a data-original-title="Pinterest" href="#" target="_blank" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-pinterest"></i></a></li>
									</ul>
								</div>

							</div>
						</div><!-- About me widget end -->

						<div class="widget widget-add">
							<img src="images/sidebar-ad1.jpg" alt="" />
						</div><!-- Widget ad end -->

						<div class="widget recent-posts">
							<h3 class="widget-title">Recent Posts</h3>
							<ul class="unstyled clearfix">
		               	<li>
		                    <div class="posts-thumb pull-left"> 
		                    		<a href="#"><img alt="img" src="images/post/post5.jpg"></a>
		                    </div>
		                    <div class="post-info">
		                        <h4 class="entry-title"><a href="#">Find the perfect red lipstick to complement your skin</a>
		                        </h4>
		                        <p class="post-meta">
											<span class="post-date"><a href="#"> Jun 19, 2015</a></span>
										</p>
		                    </div>
		                    <div class="clearfix"></div>
		                  </li><!-- 1st post end-->

		                  <li>
		                    <div class="posts-thumb pull-left"> 
		                    		<a href="#"><img alt="img" src="images/post/post2.jpg"></a>
		                    </div>
		                    <div class="post-info">
		                        <h4 class="entry-title"><a href="#">Bulgaria claims to find Europe's oldest town</a>
		                        </h4>
		                        <p class="post-meta">
											<span class="post-date"><a href="#"> May 29, 2015</a></span>
										</p>
		                    </div>
		                    <div class="clearfix"></div>
		                  </li><!-- 2nd post end-->

		                  <li>
		                    <div class="posts-thumb pull-left"> 
		                    		<a href="#"><img alt="img" src="images/post/post3.jpg"></a>
		                    </div>
		                    <div class="post-info">
		                        <h4 class="entry-title"><a href="#">What to eat for supper in Singapore on Christmas</a>
		                        </h4>
		                        <p class="post-meta">
											<span class="post-date"><a href="#"> Apr 17, 2015</a></span>
										</p>
		                    </div>
		                    <div class="clearfix"></div>
		                  </li><!-- 3rd post end-->
		               </ul>
						</div><!-- Widget recent post end -->

   					<div class="widget widget-categories">
                     <h3 class="widget-title"><span>Categories</span></h3>
                     <ul class="category-list title-font text-center clearfix">
			              	<li><a href="#">Lifestyle</a><span class="posts-count"> (37)</span></li>
			              	<li><a href="#">Travel</a><span class="posts-count"> (45)</span></li>
			              	<li><a href="#">Fashion</a><span class="posts-count"> (17)</span></li>
			              	<li><a href="#">Music</a><span class="posts-count"> (10)</span></li>
			              	<li><a href="#">Social</a><span class="posts-count"> (14)</span></li>
			              	<li><a href="#">Sports</a><span class="posts-count"> (11)</span></li>
			            </ul>
   					</div><!--/ Widget categories end -->

   					<div class="widget recent-posts">
							<h3 class="widget-title">Recent Comments</h3>
							<ul class="unstyled clearfix">
		               	<li>
		                    <div class="posts-thumb pull-left"> 
		                    		<a href="#"><img alt="img" src="images/post/post6.jpg"></a>
		                    </div>
		                    <div class="post-info">
		                    		<span class="comment-author-link">
											<a href="#">Luran Nureen</a> On
										</span>
		                        <h4 class="entry-title"><a href="#">Working Hours Around The World Does</a>
		                        </h4>
		                    </div>
		                    <div class="clearfix"></div>
		                  </li><!-- 1st comment end-->
		                  <li>
		                    <div class="posts-thumb pull-left"> 
		                    		<a href="#"><img alt="img" src="images/post/post7.jpg"></a>
		                    </div>
		                    <div class="post-info">
		                    		<span class="comment-author-link">
											<a href="#">Kate Wilter</a> On
										</span>
		                        <h4 class="entry-title"><a href="#">Working Hours Around The World Does</a>
		                        </h4>
		                    </div>
		                    <div class="clearfix"></div>
		                  </li><!-- 2nd comment end-->
		               </ul>
						</div><!-- Widget recent comments end -->
   				
   					<div class="widget widget-tags">
							<h3 class="widget-title">Tags</h3>
							<ul class="unstyled clearfix">
			              	<li><a href="#">Magazine</a></li>
			              	<li><a href="#">Lifestyle</a></li>
			              	<li><a href="#">Music</a></li>
			              	<li><a href="#">Events</a></li>
			              	<li><a href="#">Fashion</a></li>
			              	<li><a href="#">Business</a></li>
			              	<li><a href="#">Link</a></li>
			              	<li><a href="#">Travels</a></li>
			              	<li><a href="#">Audio</a></li>
			              	<li><a href="#">Quote</a></li>
			            </ul>
						</div><!--/ Widget tags end -->

						<div class="widget widget-gallery">
							<h3 class="widget-title">Photo Widget</h3>

							<div class="widget-gallery-content clearfix">
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img1.jpg" alt="">
								</a>
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img2.jpg" alt="">
								</a>
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img3.jpg" alt="">
								</a>
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img4.jpg" alt="">
								</a>
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img5.jpg" alt="">
								</a>
								<a href="#" class="widget-gallery-item">
									<img src="images/photo-widget/img6.jpg" alt="">
								</a>
							</div>
						</div><!--/ Widget gallery end -->

   				</div><!--/ Sidebar end -->
   			</div><!--/ Sidebar col end -->
   		</div><!--/ Blog row end -->
   	</div><!--/ Blog container end -->
   </section><!--/ Blog end -->