<div id="main-slide" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators visible-lg visible-md">
	  	<li data-target="#main-slide" data-slide-to="0" class="active"></li>
	   <li data-target="#main-slide" data-slide-to="1"></li>
	   <li data-target="#main-slide" data-slide-to="2"></li>
	</ol><!--/ Indicators end-->

	<!-- Carousel inner -->
	<div class="carousel-inner">
	   <div class="item active" style="background-image:url(images/slider/bg1.jpg)">
        <div class="slider-content">
				<div class="post-cat title-font">
 					<a href="#">Travel</a>
 				</div>
           <h2 class="entry-title">
 					<a href="#">Exploring a kingdom : A journey along the Amazon River</a>
 				</h2>
           <p><a href="#" class="title-font slider btn btn-primary">Full Story</a></p>	
       </div>
	   </div><!--/ Carousel item end -->

	   <div class="item" style="background-image:url(images/slider/bg2.jpg)">
	    	<div class="slider-content">
				<div class="post-cat title-font">
 					<a href="#">Lifestyle</a>
 				</div>
           <h2 class="entry-title">
 					<a href="#">New 'Good Wife' promo will make the wait for January</a>
 				</h2>
           <p><a href="#" class="title-font slider btn btn-primary">Full Story</a></p>	
       </div>
	   </div><!--/ Carousel item end -->

	   <div class="item" style="background-image:url(images/slider/bg3.jpg)">
	    	<div class="slider-content">
				<div class="post-cat title-font">
 					<a href="#">Lifestyle</a>
 				</div>
           <h2 class="entry-title">
 					<a href="#">Champagne Jell-Oshort shots are full for New Year's Eve</a>
 				</h2>
           <p><a href="#" class="title-font slider btn btn-primary">Full Story</a></p>	
       </div>
	   </div><!--/ Carousel item end -->
	    
	</div><!-- Carousel inner end-->

	<!-- Controllers -->
	<a class="left carousel-control" href="#main-slide" data-slide="prev">
    	<span><i class="fa fa-angle-left"></i></span>
	</a>
	<a class="right carousel-control" href="#main-slide" data-slide="next">
    	<span><i class="fa fa-angle-right"></i></span>
	</a>
</div>