<section>
  <div class="gap nogap">
    <div class="container">
      <div class="row merged">
        <div class="col-md-5">
          <div class="featured-post">
            <div class="featured-avatar">
              <img src="images/resource/feature-big-post.jpg" alt="">
            </div>
            <div class="featured-meta">
              <h2><a href="single.html" title="">New York Fashion Week the shape of things to come 2017</a></h2>
              <ul class="post-info">
                <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="featured-post">
                <div class="featured-avatar">
                  <img src="images/resource/feature-small-post.jpg" alt="">
                </div>
                <div class="featured-meta small">
                  <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                  <ul class="post-info">
                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-post">
                <div class="featured-avatar">
                  <img src="images/resource/feature-small-post2.jpg" alt="">
                </div>
                <div class="featured-meta small">
                  <h2><a href="single.html" title="">7 Principles That You Can Learn From desinger of USA</a></h2>
                  <ul class="post-info">
                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-post">
                <div class="featured-avatar">
                  <img src="images/resource/feature-small-post3.jpg" alt="">
                </div>
                <div class="featured-meta small">
                  <h2><a href="single.html" title="">This Is Why This Year Will Be The Year Of Fashion, because the hot girls..</a></h2>
                  <ul class="post-info">
                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-post">
                <div class="featured-avatar">
                  <img src="images/resource/feature-small-post4.jpg" alt="">
                </div>
                <div class="featured-meta small">
                  <h2><a href="single.html" title="">A Eleven Celebrity Mother-Daughters Who Look Exactly Alike...</a></h2>
                  <ul class="post-info">
                    <li><a href="#" title=""><i class="fa fa-heart"></i>16 views</a></li>
                    <li><a href="#" title=""><i class="fa fa-comments"></i>45 commments</a></li>
                    <li><a href="#" title=""><i class="fa fa-heart"></i>56 likes</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
