<section class="featured-wrapper">
	<div class="container">
		<h2 class="text-center title-classic">Featured</h2>

		<div id="featured-slider" class="owl-carousel owl-theme featured-slider">
			<div class="item clearfix">
				<div class="trending-item-content border-overlay">
					<a href="#"><img class="trending-post-img" src="images/post/post1.jpg" alt="img"></a>
					<div class="post-content border-overlay-content">
			 			<div class="post-cat title-font">
			 				<a href="#">Lifestyle</a>
			 			</div>
			 			<h2 class="entry-title">
			 				<a href="#">Why Explaining The Truth About Santa</a>
			 			</h2>
		 			</div>
				</div>
			</div><!-- Item 1 end -->

			<div class="item clearfix">
				<div class="trending-item-content border-overlay">
					<a href="#"><img class="trending-post-img" src="images/post/post2.jpg" alt="img"></a>
					<div class="post-content border-overlay-content">
			 			<div class="post-cat title-font">
			 				<a href="#">Travel</a>
			 			</div>
			 			<h2 class="entry-title">
			 				<a href="#">To Avoid Holiday Delays, Airlines Add Flights</a>
			 			</h2>
		 			</div>
				</div>
			</div><!-- Item 2 end -->

			<div class="item clearfix">
				<div class="trending-item-content border-overlay">
					<a href="#"><img class="trending-post-img" src="images/post/post3.jpg" alt="img"></a>
					<div class="post-content border-overlay-content">
			 			<div class="post-cat title-font">
			 				<a href="#">Travel</a>
			 			</div>
			 			<h2 class="entry-title">
			 				<a href="#">Wearable Tech Made Strides In 2015</a>
			 			</h2>
		 			</div>
				</div>
			</div><!-- Item 3 end -->

			<div class="item clearfix">
				<div class="trending-item-content border-overlay">
					<a href="#"><img class="trending-post-img" src="images/post/post4.jpg" alt="img"></a>
					<div class="post-content border-overlay-content">
			 			<div class="post-cat title-font">
			 				<a href="#">Travel</a>
			 			</div>
			 			<h2 class="entry-title">
			 				<a href="#">Doet Do Eiusmod Tempor Incid Idunt Ut Labore</a>
			 			</h2>
		 			</div>
				</div>
			</div><!-- Item 4 end -->

			<div class="item clearfix">
				<div class="trending-item-content border-overlay">
					<a href="#"><img class="trending-post-img" src="images/post/post5.jpg" alt="img"></a>
					<div class="post-content border-overlay-content">
			 			<div class="post-cat title-font">
			 				<a href="#">Lifestyle</a>
			 			</div>
			 			<h2 class="entry-title">
			 				<a href="#">Working Hours Around The World Does</a>
			 			</h2>
		 			</div>
				</div>
			</div><!-- Item 5 end -->

		</div><!--/ Owl carousel end -->
	</div><!--/ Container end -->
</section>