<footer>
  <div class="gap nogap">
    <div class="container">
      <div class="row">
        <div class="footer-widget">
          <div class="col-md-3 col-sm-4">
            <div class="widget">
              <div class="footer-logo">
                <h1><a href="index.html" title=""><img src="images/logo2.png" alt=""></a></h1>
                <p>Typography traces its origins to the first
                  int punches and dies used to make seals
                  and currency in ancient times.</p>
              </div>
              <ul class="social">
                <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-2 col-sm-4">
            <div class="widget">
              <div class="widget-title">
                <h4>Popular Posts</h4>
              </div>
              <ul class="ftr-popular-caro">
                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-1.jpg" alt=""></a>
                  <div class="over-meta">
                    <h5><a href="single.html" title="">sydney trafic block</a></h5>
                  </div>
                </li>
                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-2.jpg" alt=""></a>
                  <div class="over-meta">
                    <h5><a href="single.html" title="">sydney trafic block</a></h5>
                  </div>
                </li>
                <li><a href="single.html" title=""><img src="images/resource/footer-carousel-3.jpg" alt=""></a>
                  <div class="over-meta">
                    <h5><a href="single.html" title="">sydney trafic block</a></h5>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-4">
            <div class="widget">
              <div class="widget-title">
                <h4>Popular Categories</h4>
              </div>
              <ul class="ftr-popu-categories">
                <li><a href="#" title="">Gadgets</a><i>09</i></li>
                <li><a href="#" title="">Fashion 2017</a><i>87</i></li>
                <li><a href="#" title="">Mobile & Phone</a><i>109</i></li>
                <li><a href="#" title="">Food & Recepies</a><i>09</i></li>
                <li><a href="#" title="">Architechure & Interori Deesign</a><i>09</i></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="widget">
              <div class="widget-title">
                <h4>Recent Posts</h4>
              </div>
              <ul class="ftr-recent">
                <li>
                  <a href="single.html" title=""><img src="images/resource/recent-post-1.jpg" alt=""></a>
                  <div class="recent-meta">
                    <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                    <span>05 March, 2017</span>
                  </div>
                </li>
                <li>
                  <a href="single.html" title=""><img src="images/resource/recent-post-2.jpg" alt=""></a>
                  <div class="recent-meta">
                    <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                    <span>05 March, 2017</span>
                  </div>
                </li>
                <li>
                  <a href="single.html" title=""><img src="images/resource/recent-post-3.jpg" alt=""></a>
                  <div class="recent-meta">
                    <h2><a href="single.html" title="">Rose Pharmacy Water Benefits for Skin finishing care.</a></h2>
                    <span>05 March, 2017</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
