<footer id="footer" class="footer">
	<div class="container">

		<div class="newsletter text-center">
			<h3 class="title-normal">Subscribe To Our Newsletter</h3>
			<form action="#" method="post" id="newsletter-form" class="newsletter-form">
				<div class="form-group">
					<input type="email" name="email" id="newsletter-form-email" class="form-control form-control-lg" placeholder="Your Email Here" autocomplete="off">
					<button class="btn btn-primary">Subscribe</button>
				</div>
			</form>
		</div><!-- Newsletter end -->

		<div class="footer-social text-center">
			<a href="#"><i class="fa fa-facebook"></i> Facebook</a>
			<a href="#"><i class="fa fa-twitter"></i> Twitter</a>
			<a href="#"><i class="fa fa-heart"></i> Bloglovin</a>
			<a href="#"><i class="fa fa-pinterest"></i> Pinterest</a>
			<a href="#"><i class="fa fa-google-plus"></i> Google +</a>
			<a href="#"><i class="fa fa-instagram"></i> Instagram</a>
		</div><!-- Footer social end -->

		<ul class="footer-menu title-font">
			<li><a href="#">Home</a></li>
			<li><a href="#">Lifestyle</a></li>
			<li><a href="#">Travel</a></li>
			<li><a href="#">Fashion</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul><!-- Footer menu end -->
		
		<div class="copyright-info">
			<p>Copyright © 2016 Blogline. All Rights Reserved.</p>
		</div><!-- Copyright end -->

	</div><!-- Container end -->
</footer>