<header class="style1">
  <div class="top-bar">
    <div class="container">
      <div class="current-time">
        <span id="clock"><small>Thursday, July 14, 2017</small></span>
        <ul>
          <li><a href="#" title="">Blog</a></li>
          <li><a href="#" title="">contact</a></li>
          <li><a href="#" title="">buy now!</a></li>
        </ul>
      </div>
      <div class="login-register">
        <a href="#" title="">Login / Register</a>
        <div class="login-wraper">
          <div class="login-popup">
            <img itemprop="image" src="images/resource/login-background.jpg" alt="">
            <span class="close"><i class="fa fa-close"></i></span>
            <b>Best Membership You?</b>
            <h3 itemprop="headline">Sign in / Signup</h3>
            <div class="row">
              <div class="col-sm-12">
                <form method="post">
                  <label>
                    <input placeholder="Complete Name" class="username" type="text">
                  </label>

                  <label>
                    <input placeholder="Email Address" class="password" type="email">
                  </label>

                  <button><i class="fa fa-paper-plane"></i>SIGN IN</button>
                  <span>New here?</span>
                  <a itemprop="url" href="#" title="">Create an Account</a>
                  <label><input class="check" type="checkbox"><i>Remember My Password?</i></label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul class="social-btns">
        <li><a href="#" target="_blank" title=""><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#" target="_blank" title=""><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div><!-- Top Bar -->
  <div class="logo-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="logo">
            <a title="#" href="index.html"><img alt="headline" src="images/logo.png"></a>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="ad">
            <a href="#" title=""><img  alt="" src="images/resource/ad.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- Logo Bar -->
  <div class="menu-bar light">
    <div class="container">
      <nav>
        <ul>
          <li class="menu-item-has-children"><a href="index.html" title="">Home</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children"><a href="index.html" title="">Home Page 1</a></li>
              <li><a href="index2.html" title="">Home Page 2</a></li>
              <li><a href="index3.html" title="">Home Page 3</a></li>
              <li><a href="index4.html" title="">Home Page 4</a></li>
              <li><a href="index5.html" title="">Home Page 5</a></li>
              <li><a href="index-video.html" title="">Home Video</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children"><a href="#" title="">Mega tab</a>
            <div class="mega-menu1">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#megamenu-tab1" data-toggle="tab">fashion</a></li>
                <li><a href="#megamenu-tab2" data-toggle="tab">life style</a></li>
                <li><a href="#megamenu-tab3" data-toggle="tab">Latest Blog</a></li>
                <li><a href="#megamenu-tab4" data-toggle="tab">Health</a></li>
                <li><a href="#megamenu-tab5" data-toggle="tab">Technology</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade in active" id="megamenu-tab1">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="megamenu-tab2">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="megamenu-tab3">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post4.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post5.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post6.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="megamenu-tab4">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post7.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post8.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post9.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="megamenu-tab5">
                  <div class="">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post10.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post11.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                      <div class="col-sm-4">
                        <div class="post-style3">
                          <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post12.jpg" alt="" /></a></div>
                          <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                          <ul class="post-meta">
                            <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                            <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                          </ul>
                        </div><!-- Post Stye 3 -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="menu-item-has-children"><a href="#" title="">Mega Menu</a>
            <div class="mega-menu1">
              <div class="tab-content">
                <div class="">
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="post-style3">
                        <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post1.jpg" alt="" /></a></div>
                        <h2><a href="single.html" title="">love is a beautiful life with a cute wife</a></h2>
                        <ul class="post-meta">
                          <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                          <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                        </ul>
                      </div><!-- Post Stye 3 -->
                    </div>
                    <div class="col-sm-4">
                      <div class="post-style3">
                        <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post2.jpg" alt="" /></a></div>
                        <h2><a href="single.html" title="">Five Reasons You Should Fall In Love With Women</a></h2>
                        <ul class="post-meta">
                          <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                          <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                        </ul>
                      </div><!-- Post Stye 3 -->
                    </div>
                    <div class="col-sm-4">
                      <div class="post-style3">
                        <div class="post-thumb3"><a href="single.html" title="" class="img-link"><img src="images/resource/megamenu-post3.jpg" alt="" /></a></div>
                        <h2><a href="single.html" title="">All the best streets looks like a beautiful</a></h2>
                        <ul class="post-meta">
                          <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                          <li><i class="fa fa-heart"></i><a href="#" title="">40k likes</a></li>
                        </ul>
                      </div><!-- Post Stye 3 -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="menu-item-has-children"><a href="#" title="">Features</a>
            <ul class="sub-menu">
              <li class="menu-item-has-children"><a href="#" title="">blog detail</a>
                <ul class="sub-menu">
                  <li><a href="single-with-left-sidebar.html" title="">Blog detail left sidebar</a></li>
                  <li><a href="single.html" title="">Blog detail right sidebar</a></li>
                  <li><a href="single-without-sidebar.html" title="">Blog detail without sidebar</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><a href="#" title="">pages</a>
                <ul class="sub-menu">
                  <li><a href="404.html" title="">404 error page</a></li>
                  <li><a href="coming-soon.html" title="">coming soon</a></li>
                </ul>
              </li>
              <li><a href="archives.html" title="">Archives</a></li>
              <li><a href="single-audio.html" title="">Audio</a></li>
              <li><a href="single-video.html" title="">Video </a></li>
              <li><a href="search-page.html" title="">Search</a></li>
              <li><a href="search-notfound.html" title="">search not found</a></li>
            </ul>
          </li>
          <li><a href="about.html" title="">about Us</a></li>
          <li><a href="contact.html" title="">Contact Us</a></li>
        </ul>
        <div class="header-search">
          <a href="#" title=""><i class="fa fa-search"></i></a>
        </div>
      </nav>
    </div>
  </div><!-- Menu Bar -->
  <form class="search-here">
    <input type="text" placeholder="search your keyword" />
    <i class="fa fa-close"></i>
  </form><!-- Search keyword -->
</header><!-- Header -->
