<header id="header" class="header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12">
				<ul class="top-social unstyled">
					<li>
						<a title="Facebook" href="#">
							<span class="social-icon"><i class="fa fa-facebook"></i></span>
						</a>
						<a title="Twitter" href="#">
							<span class="social-icon"><i class="fa fa-twitter"></i></span>
						</a>
						<a title="Google+" href="#">
							<span class="social-icon"><i class="fa fa-google-plus"></i></span>
						</a>
						<a title="behance" href="#">
							<span class="social-icon"><i class="fa fa-instagram"></i></span>
						</a>
					</li>
				</ul>
			</div><!--Social col end -->

			<div class="col-md-4 col-xs-12">
				<div class="logo text-center">
	                <a href="index.html">
	                	<img src="images/logo.png" alt="">
	                </a>
            	</div>
			</div><!-- Logo col end -->

			<div class="col-md-4 col-xs-12">
				<div class="top-ad">
					<img src="images/top-ad.png" alt="">
				</div>
			</div><!-- Ad col end -->

		</div><!-- Content row end -->
	</div><!-- Container end -->
</header>