<section class="no-padding">
	<div class="container-fluid">
		<h2 class="title-classic text-center">Instagram</h2>

		<div id="instagram-carousel" class="owl-carousel owl-theme instagram-carousel">
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram1.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram2.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram3.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram4.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram5.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram6.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram7.jpg" alt="img"></a>
			</div>
			<div class="item clearfix">
				<a href="#"><img src="images/instagram/instagram8.jpg" alt="img"></a>
			</div>
		</div><!-- Carousel end -->

	</div><!-- Container end -->
</section>