<div class="responsive-header">
  <div class="res-logo-area">
    <div class="col-sm-9 col-xs-6">
      <a href="#" title=""><img src="/images/logo2.png" alt=""></a>
    </div>
    <div class="col-sm-3 col-xs-4">
      <div id="nav-icon3">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="responsive-menu">
    <a href="#" title=""><img src="/images/logo2.png" alt=""></a>
    <ul>
      <li class="menu-item-has-children"><a href="index.html" title="">Home</a>
        <ul class="sub-menu">
          <li><a href="index.html" title="">Home Page 1</a></li>
          <li><a href="index2.html" title="">Home Page 2</a></li>
          <li><a href="index3.html" title="">Home Page 3</a></li>
          <li><a href="index4.html" title="">Home Page 4</a></li>
          <li><a href="index5.html" title="">Home Page 5</a></li>
          <li><a href="index-video.html" title="">Home Video</a></li>
        </ul>
      </li>
      <li class="menu-item-has-children"><a href="#" title="">Features</a>
        <ul class="sub-menu">
          <li class="menu-item-has-children"><a href="#" title="">blog detail</a>
            <ul class="sub-menu">
              <li><a href="single-with-left-sidebar.html" title="">Blog detail left sidebar</a></li>
              <li><a href="single.html" title="">Blog detail right sidebar</a></li>
              <li><a href="single-without-sidebar.html" title="">Blog detail without sidebar</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children"><a href="#" title="">pages</a>
            <ul class="sub-menu">
              <li><a href="404.html" title="">404 error page</a></li>
              <li><a href="coming-soon.html" title="">coming soon</a></li>
            </ul>
          </li>
          <li><a href="archives.html" title="">Archives</a></li>
          <li><a href="single-audio.html" title="">Audio</a></li>
          <li><a href="single-video.html" title="">Video </a></li>
          <li><a href="search-page.html" title="">Search</a></li>
          <li><a href="search-notfound.html" title="">search not found</a></li>
        </ul>
      </li>
      <li><a href="about.html" title="">about Us</a></li>
      <li><a href="contact.html" title="">Contact Us</a></li>
    </ul>
    <ul class="little-info">
      <li><i class="fa fa-phone-square"></i><span>+971 8753563</span></li>
      <li><i class="fa fa-envelope"></i><span>Lifeaid@gmail.com</span></li>
    </ul>
  </div>
  <a href="#" title="" class="res-search"><i class="fa fa-search"></i></a>
  <form class="search-insite" method="post">
    <i class="fa fa-close"></i>
    <input type="text" placeholder="search here">
    <button type="submit"></button>
  </form>
  <ul class="socials">
    <li><a href="#" title="" class="facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" title="" class="twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" title="" class="google"><i class="fa fa-google-plus"></i></a></li>
  </ul>
</div>
