<div id="top-bar" class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="top-bar-inner">
					<ul class="top-menu title-font unstyled">
						<li><a href="#">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">Contact</a></li>
					</ul>

					<div class="top-search">
						<button class="fa fa-search"></button>
					</div>
					<div class="site-search">
						<div class="container">
							<input type="text" placeholder="type what you want and enter">
							<span class="close">&times;</span>
						</div>
					</div><!-- Search end -->
				</div><!-- top bar inner end -->
			</div><!-- Col end -->
		</div><!--/ Content row end -->
	</div><!--/ Container end -->
</div><!--/ Topbar end -->