<section>
  <div class="gap">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4 class="sec-heading strips">grid Posts style</h4>
          <div class="row remove-ext">
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-1.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">The Reasons Why We Love Restaurant</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-2.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">Kerala, India: They call it Own Country</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-3.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">Designer fashion show kicks off Variety</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-4.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">Things That Make You Love for Works</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-5.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">7 Stereotypes About Fashion...</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="post-grid-style">
                <a href="single.html" title=""><img src="images/resource/gridpost-tab-6.jpg" alt=""></a>
                <div class="post-detail">
                  <a class="category" href="#" title="">Health</a>
                  <ul class="stars-rank">
                    <li><i class="fa fa-star-half-empty"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                  <h2><a href="single.html" title="">New York Fashion Week the shape</a></h2>
                  <ul class="post-meta3">
                    <li><i class="fa fa-calendar-o"></i><a href="#" title="">30 May, 2017</a></li>
                    <li class="admin"><a href="#" title="">Admin</a></li>
                  </ul>
                  <p>Scelerisque at, duis torquent laoreet neque, magna maecenas tortor convallis
                    aptent pellentesque duis torquent...</p>
                  <a href="single.html" class="readmore" title=""><i class="fa fa-long-arrow-right"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <aside>
            <div class="widget">
              <div class="widget-title">
                <h4>User Authentication</h4>
              </div>
              <div class="sidebar-login">
                <form action="#">
                  <label>
                    <input type="text" placeholder="Username*">
                    <i class="fa fa-user"></i>
                  </label>
                  <label>
                    <input type="password" placeholder="Password*">
                    <i class="fa fa-lock"></i>
                  </label>
                </form>
              </div>
            </div><!-- user login -->
            <div class="widget">
              <div class="widget-title">
                <h4>tags cloud</h4>
              </div>
              <ul class="tags-cloud">
                <li><a href="#" title="">wordpress</a></li>
                <li><a href="#" title="">Html</a></li>
                <li><a href="#" title="">css3</a></li>
                <li><a href="#" title="">jquery</a></li>
                <li><a href="#" title="">Php</a></li>
                <li><a href="#" title="">java</a></li>
              </ul>
            </div><!-- tags cloud -->
            <div class="widget">
              <div class="widget-title">
                <h4>Flickr Feed</h4>
              </div>
              <ul class="flickr-widget">
                <li><a href="#" title=""><img src="images/resource/flickr-widget-1.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-2.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-3.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-4.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-5.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-6.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-7.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-8.jpg" alt=""></a></li>
                <li><a href="#" title=""><img src="images/resource/flickr-widget-9.jpg" alt=""></a></li>
              </ul>
            </div><!-- flickr widger -->
            <div class="widget">
              <div class="widget-title">
                <h4>Popular Videos</h4>
              </div>
              <div class="popular-video">
                <div class="video-carousel" data-hash="tab1">
                  <div class="video-meta">
                    <img src="images/resource/video-widget-1.jpg" alt="">
                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox"
                       data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                  </div>
                </div>
                <div class="video-carousel" data-hash="tab2">
                  <div class="video-meta">
                    <img src="images/resource/video-widget-2.jpg" alt="">
                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox"
                       data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                  </div>
                </div>
                <div class="video-carousel" data-hash="tab3">
                  <div class="video-meta">
                    <img src="images/resource/video-widget-3.jpg" alt="">
                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox"
                       data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                  </div>
                </div>
                <div class="video-carousel" data-hash="tab4">
                  <div class="video-meta">
                    <img src="images/resource/video-widget-4.jpg" alt="">
                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox"
                       data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                  </div>
                </div>
                <div class="video-carousel" data-hash="tab5">
                  <div class="video-meta">
                    <img src="images/resource/video-widget-5.jpg" alt="">
                    <a href="https://player.vimeo.com/video/1084537" data-showsocial="false" class="html5lightbox"
                       data-group="set2" title=""><i class="fa fa-play-circle-o"></i></a>
                  </div>
                </div>
              </div>
              <div class="carousel-btn">
                <a href="#tab1" title=""><img src="images/resource/video-widget-btn-1.jpg" alt=""><i
                    class="fa fa-play-circle-o"></i></a>
                <a href="#tab2" title=""><img src="images/resource/video-widget-btn-2.jpg" alt=""><i
                    class="fa fa-play-circle-o"></i></a>
                <a href="#tab3" title=""><img src="images/resource/video-widget-btn-3.jpg" alt=""><i
                    class="fa fa-play-circle-o"></i></a>
                <a href="#tab4" title=""><img src="images/resource/video-widget-btn-4.jpg" alt=""><i
                    class="fa fa-play-circle-o"></i></a>
                <a href="#tab5" title=""><img src="images/resource/video-widget-btn-5.jpg" alt=""><i
                    class="fa fa-play-circle-o"></i></a>
              </div>
            </div><!-- popular video widger -->
          </aside>
        </div><!-- side widgets -->
      </div>
    </div>
  </div>
</section>
